[Unit]
Description=Suroi Discord bot.

[Service]
Type=simple
WorkingDirectory=/opt/SuroiBot
ExecStart=/usr/bin/pnpm start

[Install]
WantedBy=multi-user.target
